.lists{
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}

.list-card {
    width: 10rem;
    padding: 5rem;
}
.list-card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.list-card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}
.listButton {
    display: flex;
    justify-content: space-evenly;
  }