.notes{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;

}

.notes-card {
    width: 10rem;
    margin: 1rem;
    border: 1px solid gray;
    display: flex;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    font-weight: lighter;
}
.notes-card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-weight: lighter;
}

.notes-card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}
.notes-card-body {
    align-content: center;
    font-weight: lighter;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
/* .notesButton {
    display: flex;
    justify-content: space-evenly;
  } */

  .btn-success {
      background-color: gray;
  }
  .notes-link {
    border-top: 1px solid gray;
    text-transform: uppercase;
    font-weight: bold;
}